.login_box {
    padding: 15px;
}
.title {
    padding: 15px;
}
.logined {
    padding: 15px;
    display: none;
}
.close-btn {
    background-color: #ff5c5c;
}
.hidden {
  display: none;
}
#helper1 , #helper2 {
    display: none;
}